@model Book

<tr class="tbl-row">
    <td>
        <h2 class="text-start">
            <a asp-controller="Book"
                asp-action="Details"
                asp-route-id="@Model.BookId"
                class="book-link">@Model.Title</a>
        </h2>
    </td>
</tr>

