@model BookIndexViewModel

<h1 class="my-5"><strong>Your Books!</strong></h1>


<table>
    <tr>
        <th><h1>Title</h1></th>
    </tr>
    @foreach (var book in Model.Books)
    {
        <partial name="_BookCard" model="book" />
    }
</table>
