@{
    ViewData["Title"] = "About This Project";
}

<div class="container col-6 about-main">
    <h2>Project Description</h2>
    <p>This project is a simple book catalog that allows users to view a list of books, add books to their own personal catalog, and search for books by title.</br> 
        The project was created using ASP.NET Core MVC, Entity Framework Core, and a SQL Server database.</br> 
        The project also includes a simple user authentication system that allows users to register an account and log in to access their personal catalog.</p>

    <h2>Project Features</h2>
    <ul>
        <li>View a list of books in the catalog</li>
        <li>View details of a book in the catalog</li>
        <li>Add a book to your personal catalog</li>
        <li>Search for books by title</li>
        <li>Register an account</li>
        <li>Log in to access your personal catalog</li>
    </ul>
</div>


