@{
    ViewData["Title"] = "Home Page";
}

<div class="container main-hero">
    <div class="row">
        <div class="col-12">
            <h1 class="my-5"><strong>Welcome to the Internet Book Database</strong></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="user-text">Any user can add a book to the catalog, what will you contribute?</h2>
        </div>
    </div>
</div>



