@{
    ViewData["Title"] = "Home Page";
}

<div class="container main-hero">
    <div class="row">
        <div class="col-12">
            <h1 class="my-5"><strong>Welcome to the Internet Book Database</strong></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="user-text">Create an account and keep track of what you have read!</h2>
            <h2 class="register"><a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Register an Account</a></h2>
        </div>
    </div>
</div>

<div class="container main-book mt-5">
    <div class="row d-flex">
        <div class="col-8">
            <h1 class="my-5"><strong>Add a Book to the Catalog</strong></h1>
            <h2><a class="btn btn-secondary" asp-controller="Book" asp-action="Add"> Click Here </a></h2>
            <h1 class="my-5"><strong>Add a Book to Your Catalog</strong></h1>
            <h2>View a book's details in the catalog to add it your list <br />Make sure you are signed in!</h2>

        </div>
        <div class="col-4 mt-3" >
            <img src="~/images/booktable.jpg" alt="books_on_table" class="img-fluid">
        </div>

    </div>
</div>



