html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: black;
}

body {
  margin-bottom: 60px;
  background-color: lightgray
}

table, tr, td {
    border: 1px solid;
    padding: 10px;
    width: 50%;
}

th {
    padding-left: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-hero {
    background-color: pink;
    text-align: center;
    padding-bottom: 50px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 10px 10px;
}

.main-book {
    background-color: lightblue;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 10px 10px;
}

footer {
    background-color: black;
    color: white;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.about-main {
    background-color: lightgreen;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 10px 10px;
}

